<nav>
    <ul>
        <!-- Exemple : à modifier pour pointer vers vos propres routes -->
        <li><a href="{{ path('accueil') }}">Accueil</a></li>

        {% if app.user %}
            <li><a href="{{ path('shop_product') }}">Produits</a></li>
            <li><a href="{{ path('shop_product_panier') }}">Panier</a></li>
            <li><a href="{{ path('_logout_main') }}">Se déconnecter</a></li>
        {% else %}
            {% if app.request.getPathInfo() not in ['/auth', '/auth/new'] %}
                <li><a href="{{ path('auth') }}">Se connecter / créer un compte</a></li>
            {% endif %}
            {% if app.request.getPathInfo() == '/auth/new' %}
                <li><a href="{{ path('auth') }}">Se connecter </a></li>
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="/admin">Espace admin</a></li>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="/superadmin">Espace super-admin</a></li>
        {% endif %}

    </ul>
</nav>