{% extends 'shop/layouts/main_layout.html.twig' %}
{% block title %}{{ parent() }} - Administration{% endblock %}

{% block titre_principal %}
    <h2>Liste des utilisateurs à promouvoir en administrateur</h2>
{% endblock %}

{% block vue %}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Rôle(s)</th>
            <th>Nom</th>
            <th>Prénom</th>
            {# Si applicable, ajouter d'autres colonnes comme la date de naissance #}
            <th>Pays</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% if user is empty %}
            <tr>
                <td colspan="7">Aucun utilisateur éligible</td>
            </tr>
        {% else %}
            {% for u in user %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.roles|join(', ') }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.surname }}</td>
                    <td>{{ u.country }}</td>
                    <td>
                        <a href="{{ path('superadmin_promote_user', {
                            id: u.id,
                            token: csrf_token('promote' ~ u.id)
                        }) }}" onclick="return confirm('Promouvoir cet utilisateur en administrateur ?');" class="btn btn-primary btn-sm">
                            Promouvoir en Admin
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
