{% extends 'shop/layouts/main_layout.html.twig' %}

{% block titre_principal %}
    <h2>Modifier un utilisateur</h2>
{% endblock %}

{% block vue %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}

    <div class="mb-3">
        <label>{{ form_label(form.roles) }}</label>
        <div class="form-check">
            {% for checkbox in form.roles %}
                <div class="form-check form-check-inline">
                    {{ form_widget(checkbox) }}
                    {{ form_label(checkbox) }}
                </div>
            {% endfor %}
        </div>
    </div>

    {{ form_row(form.country) }}


    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

    <form method="post" action="{{ path('admin_delete_user', {'id': user.id}) }}" onsubmit="return confirm('Supprimer cet utilisateur ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
{% endblock %}
