{% extends 'shop/layouts/main_layout.html.twig' %}
{% block title %}{{ parent() }} - Users{% endblock %}

{% block titre_principal %}<h2>Liste des utilisateurs du magasin</h2>{% endblock %}

{% block vue %}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Rôle(s)</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mot de passe hashé</th>
            <th>Pays</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% if user is empty %}
            <tr>
                <td colspan="7">Aucun utilisateur</td>
            </tr>
        {% else %}
            {% for u in user %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>
                        {% if app.user and app.user.username == u.username %}
                            <strong>{{ u.username }}</strong>
                        {% else %}
                            {{ u.username }}
                        {% endif %}
                    </td>
                    <td>{{ u.roles|join(', ') }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.surname }}</td>
                    <td>{{ u.password }}</td>
                    <td>{{ u.country }}</td>
                    <td>
                        {% if 'ROLE_ADMIN' not in u.roles and 'ROLE_SUPER_ADMIN' not in u.roles and u.id != app.user.id %}
                            <a href="{{ path('admin_delete_user', {
                                id: u.id,
                                token: csrf_token('delete' ~ u.id)
                            }) }}" onclick="return confirm('Supprimer cet utilisateur ?');" class="btn btn-danger btn-sm">
                                Supprimer
                            </a>
                        {% else %}
                            <em>Aucune action</em>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
