{% extends 'shop/layouts/main_layout.html.twig' %}
{% block title %}{{ parent() }} - List{% endblock %}

{% block titre_principal %}<h2>Liste des produits de notre magasin</h2>{% endblock %}

{% block vue %}
        <table>
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Choix</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {# Si la variable 'produits' est vide, on affiche un message indiquant qu'il n'y a aucun produit #}
            {% if produits is empty %}
                <tr>
                    <td colspan="5">Aucun produit disponible.</td>
                </tr>
            {% else %}
                {# Sinon, on parcourt la liste des produits pour afficher chaque ligne #}
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.name }}</td>
                        <td>{{ produit.price }}</td>
                        <td>{{ produit.stock }}</td>

                        <form action="{{ path('shop_product_add_to_cart') }}" method="POST">
                            <input type="hidden" name="product_id" value="{{ produit.id }}">

                            <!-- 4e colonne : sélecteur de quantité -->
                            <td>
                                <select name="quantity">
                                    {% set max = produit.stock > 50 ? 50 : produit.stock %}
                                    {% set min = 1 * -1 %}
                                    {% for i in range(min, max) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </td>

                            <!-- 5e colonne : bouton Commander -->
                            <td>
                                <button type="submit">Commander</button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
{% endblock %}
