{% extends 'shop/layouts/main_layout.html.twig' %}
{% block title %}{{ parent() }} - Panier{% endblock %}

{% block titre_principal %}<h2>Panier</h2>{% endblock %}

{% block vue %}
    <table>
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Prix u.</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {# Si le panier est vide, afficher un message #}
        {% if items is empty %}
            <tr>
                <td colspan="5">Votre panier est vide.</td>
            </tr>
        {% else %}
                <tr>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td>
                            <form action="{{ path('shop_product_remove_item') }}" method="POST" style="display:inline">
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <button type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tr>
            {# Ligne pour afficher le total global du panier #}
            <tr>
                <td>Total</td>
                <td></td>
                <td>
                    {{ items|reduce((carry, item) => carry + item.quantity, 0) }}
                </td>
                <td>
                    {{ items|reduce((carry, item) => carry + (item.product.price * item.quantity), 0) }}
                </td>
                <td></td>
            </tr>
            {# Ligne pour afficher les actions "Acheter" et "Vider" #}
            <tr>
                <td colspan="3"></td>
                <td>
                    <form action="{{ path('shop_product_purchase_cart') }}" method="POST" style="display:inline">
                        <button type="submit">Acheter</button>
                    </form>
                </td>
                <td>
                    <form action="{{ path('shop_product_clear_cart') }}" method="POST" style="display:inline">
                        <button type="submit">Vider le panier</button>
                    </form>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}