{% extends 'shop/layouts/main_layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block vue %}
    <h2>Création d'un compte</h2>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.country) }}
    {{ form_row(form.password) }}

    <button type="submit" class="btn btn-primary">Create Account</button>
    {{ form_end(form) }}

{% endblock %}
